.button1{
}

.div1{
  width:100px;
  width:100px;
}

.button2{

}

.div2{
  width:100px;
  width:100px;
}

.div3{
  background-color: red;
  width:400px;
  height:400px;
}
.div4{
  background-color: red;
  width:400px;
  height:400px;
}
.div5{
  background-color: red;
  width:400px;
  height:400px;
}
